.bold {
  font-weight: bold;
}

/* Accessible via CSS module - classes.colored */
.colored {
  color: #be0fce;
}

.CockpitButton {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

.CockpitButton:hover {
  background-color: #000;
}

.CockpitButton.colored {
  background-color: #be0fce;
  color: #000;
}

.CockpitButton.colored:hover {
  background-color: #000;
  color: #fff;
}