{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 0.25%, not dead"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": "^3.6.4"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}