.ContactData {
    text-align: center;
}

.ContactData label {
    display: inline-block;
    width: 5.5em;
    text-align: right;
}

.ContactData input {
    margin-bottom: 1em;
    margin-left: 1em;
}
