.App {
	text-align: center;
}

.validation-form {
	background: #eee;
	border-bottom: 3px solid #ccc;
	padding: 1em;
	margin: 1em auto 0;
	max-width: 600px;
}

.validation-component {
	margin-top: 1em;
	height: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
}