.Post {
    width: 15em;
    padding: 1em;
    text-align: center;
    border: .1em solid #eee;
    box-shadow: 0 .2em 0 #ccc;
    margin: .5em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
}

.Post:hover,
.Post:active {
    background-color: rgb(236, 243, 250);
}

.Author {
    margin: 1em 0;
    color: #ccc;
}
